.fizz {
	background-color: blue;
}

.buzz {
	background-color: yellow;
}

.fizzbuzz {
	background-color: green;
}

.plain {
	background-color: white;
}

.fizz, .buzz, .fizzbuzz, .plain {
	font-family: sans-serif;
	color: black;
	border: 1px solid black;
	margin: 10px 10px;
	height: 1.5rem;
	width: 4rem;
}
